/* General Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    background: #D5E1EF;
} 

/* Style qr component */

.qr-card-component { 
    max-width: 320px;
    width: 100%;
    min-height: 497px;
    background: #FFFFFF;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    border-radius: 20px;
    margin: 152px auto 20px;
}

.qr-card-component .wrapper { 
    padding: 16px;
}

.qr-code-image { 
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 24px; 
}

.card-title {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 28px; 
    color: #1F314F;
    max-width: 288px;
    margin: 0 auto 16px;
    text-align: center;
}

.description { 
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 19px;
    letter-spacing: 0.012rem;
    color: #7D889E;
    max-width: 256px;
    margin: 0 auto;
    text-align: center;
}